---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import voyance from '../static/voyance.jpg';
---

<Layout title="Nicolas Abry" class="flex flex-col w-full overflow-hidden place-content-center text-center items-center self-center"> 
 	<section class="grid grid-cols-1 lg:grid-cols-2 lg:flex-row gap-4 w-full min-h-screen pt-28 text-white">
		<div class="flex flex-col w-full lg:basis-1/2 place-content-center items-center">
            <div class="flex flex-col p-4 lg:px-20 self-center gap-6 items-center text-left reveal-from-bottom">
                <h1 class="text-2xl lg:text-5xl w-full text-center lg:text-left reveal-from-right uppercase">Consultation de voyance</h1>
				<div class="flex flex-col gap-8">
					<div class="text-justify">
						Nicolas ABRY vous propose, grâce à son exceptionnel talent de perception subtile, des consultations de voyance intégrale. Il apporte des réponses précises à vos interrogations de la vie, en toute transparence et sans complaisance. Dans une énergie de grande pureté et bienveillance, il vous prédira l'avenir pour les jours, semaines, mois, et années à venir, tout en assurant une confidentialité absolue, soumis au secret professionnel.
                        <br><br>
                        En tant que clairvoyant et médium pur, Nicolas agit comme un canal entre vous et l'univers, transmettant les informations que vos guides et ses guides lui communiquent. Il utilise divers supports tels que les cartes, oracles, tarots et pendule, en complément de ses ressentis et de ses flashs pendant des consultations d'environ une heure.
                        <br><br>
                        Nicolas vous accompagnera sur le chemin de la lumière céleste, vous guidant avec sagesse et clairvoyance. Il communique avec les anges et archanges, notamment Michael et Métatron, pour vous offrir une guidance éclairée et divine. Empruntez le chemin de la lumière céleste avec Nicolas ABRY et découvrez une voyance inspirée et transformative.
                        <br><br>
                        Consultation de voyance par téléphone de 45 minutes à 60 minutes sont au tarifs de 120.- CHF. 
                        Les consultations en présentiels  sont disponibles à Genève, et dans d’autres villes Suisse est à l’étranger. 
                        Les tarifs sont variable en fonction du lieu. 
                        Une consultation pour Genève, en cabinet ou domicile est de 150.- CHF.
                        <br><br>
                        <span class="font-bold text-lg underline">Pourquoi Choisir une Consultation de Voyance avec Nicolas ABRY?</span>
                        <br><br>
                        Dons Exceptionnels : 
                        Nicolas ABRY possède des capacités de clairvoyant et de médium pur, lui permettant de percevoir des vérités cachées et de communiquer avec les guides spirituels. Ses talents innés lui permettent de fournir des réponses claires et précises à vos questions les plus profondes.
                        <br><br>
                        Approche Holistique : 
                        Nicolas intègre divers supports divinatoires comme les cartes, oracles, tarots et pendule pour enrichir ses ressentis et flashs intuitifs. Chaque séance est adaptée à vos besoins spécifiques, assurant une guidance personnalisée et complète.
                        <br><br>
                        Confidentialité et Bienveillance : 
                        Vos consultations se déroulent dans un cadre de confidentialité absolue et de bienveillance. Nicolas est soumis au secret professionnel, garantissant que toutes les informations partagées restent strictement confidentielles.
                        <br><br>
                        <span class="font-bold text-lg underline">Que Peut-Vous Apporter une Consultation de Voyance?</span>
                        <br><br>
                        Clarté et Orientation : 
                        Obtenez des réponses à vos questions sur l'amour, la carrière, la santé, et d'autres aspects importants de votre vie. Nicolas vous aide à voir les chemins possibles et à prendre des décisions éclairées.
                        <br><br>
                        Pour toute prise de rendez-vous avec Monsieur Nicolas ABRY, vous pouvez prendre contact auprès de l'adresse e-mail suivante :
						<a class="inline-flex font-bold no-underline border rounded-md p-1" href="mailto:contact@nicolasabry.ch">contact@nicolasabry.ch</a>
					</div>
				</div>
            </div>
        </div>
        <Image class="h-auto w-auto self-center mx-auto hidden lg:block" src={voyance} alt="Nicolas Abry" />
	</section>
</Layout>