---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import img3 from '../static/img3.jpg';
---

<Layout title="Nicolas Abry" class="flex flex-col w-full overflow-hidden place-content-center text-center items-center self-center"> 
 	<section class="grid grid-cols-1 lg:grid-cols-2 lg:flex-row gap-4 w-full min-h-screen pt-28 text-white">
		<div class="flex flex-col w-full lg:basis-1/2 place-content-center items-center">
            <div class="flex flex-col p-4 lg:px-20 self-center gap-6 items-center text-left reveal-from-bottom">
                <h1 class="text-2xl lg:text-5xl w-full text-center lg:text-left reveal-from-right uppercase">Portrait</h1>
				<div class="flex flex-col gap-8">
					<div class="text-justify">
                        Nicolas ABRY, jeune prodige de 25 ans, mène une vie aussi captivante qu'inspirante. Né en Roumanie, il a été choyé dès l'âge de 6 mois par une famille française aimante. Aujourd'hui, il réside près de Genève, en Suisse, sur les rives enchanteresses du lac Léman, au sein d'une commune des plus prisée, jouissant d'un cadre de vie idyllique et exquis.
                        Dès son plus jeune âge, Nicolas a manifesté une sensibilité exceptionnelle, qu'il a cultivée et développée dans les arts divinatoires et la clairvoyance, révélant ainsi un don unique. Son parcours académique l'a conduit vers le monde du commerce et du luxe, où il a gravi avec brio les échelons au sein du prestigieux groupe LVMH, laissant sa marque chez des maisons emblématiques telles que CHANEL, DIOR, LOUIS VUITTON et la célèbre marque Suisse LA PRAIRIE.
                        Naviguant avec assurance dans les eaux tumultueuses de sa carrière, Nicolas a su se réinventer, jonglant avec habileté entre sa passion pour le droit notarial et son engagement indéfectible envers la santé publique. Son expertise a été sollicitée lors de la gestion de la crise sanitaire de 2021, où il a œuvré avec brio auprès de la Direction Générale de la Santé du Canton de Vaud.
                        L'année 2022 a marqué une véritable renaissance pour Nicolas, l'invitant à explorer le monde, à tisser des liens précieux et à côtoyer l'élite, des célébrités aux cercles mondains les plus prestigieux. De Genève à Saint-Moritz, de Zurich à Monaco, en passant par Porto-Cervo, Saint-Tropez, Courchevel et Gstaad, Nicolas est l'étoile filante des nuits scintillantes, illuminant les lieux les plus exclusifs de sa présence charismatique.
                        Nicolas est incontestablement une figure emblématique de la scène nocturne, évoluant avec aisance dans les lumières éblouissantes du JAVA CLUB au Grand Hotel Geneva Fairmont depuis des années. En 2023, il a tourné son regard vers la spiritualité, participant activement à des événements ésotériques et donnant des conférences inspirantes en Suisse et au-delà. Il est également présent sur des stations de Radio. 
                        Aujourd'hui, à la tête d’une entreprise de relations publiques et de consulting, Nicolas met son expertise au service d'une clientèle sélecte et élitiste, rayonnant de la Suisse à la France, de l'Italie à Los Angeles et au-delà. Son cabinet de spiritualité est le reflet de son dévouement, offrant une guidance précieuse à une clientèle internationale en quête de sagesse.
                        Nicolas ABRY s'affirme ainsi comme une figure de proue de son époque, mariant avec élégance et détermination ses nombreux talents, unissant le monde glamour et enivrant de la nuit à une quête profonde de sens et de spiritualité.
					</div>
				</div>
            </div>
        </div>
		<Image class="h-full w-auto self-center mx-auto hidden lg:block" src={img3} alt="Nicolas Abry" />
	</section>
</Layout>



