---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import img3 from '../static/img3.jpg';
---

<Layout title="Nicolas Abry" class="flex flex-col w-full overflow-hidden place-content-center text-center items-center self-center"> 
 	<section class="grid grid-cols-1 lg:grid-cols-2 lg:flex-row gap-4 w-full min-h-screen pt-28 text-white">
		<div class="flex flex-col w-full lg:basis-1/2 place-content-center items-center">
            <div class="flex flex-col p-4 lg:px-20 self-center gap-6 items-center text-left reveal-from-bottom">
                <h1 class="text-2xl lg:text-5xl w-full text-center lg:text-left reveal-from-right uppercase">Soins énergétiques</h1>
				<div class="flex flex-col gap-8">
					<div class="text-justify">
                        Nicolas ABRY vous propose, en complément de ses talents de clairvoyant et de médium pur, un accompagnement pour des soins énergétiques, spirituels, guidances et rituels ésotériques. Il ne pratique ni magie noire ni magie blanche; il utilise simplement des prières pures et positives, dans le but de toujours maintenir une énergie de lumière bienveillante.
                        Les soins énergétiques sont réalisés aussi bien à distance par téléphone qu'en présentiel, avec des résultats identiques. Lors d'un soin énergétique, Nicolas effectue un bilan complet de votre aura, de vos différents corps subtils, de vos chakras, et identifie les parasites, miasmes et énergies négatives dans votre corps ou champ aurique. Grâce à ses outils, il peut également détecter des blocages, envoûtements, travaux spirituels ou mauvais œil causés par la jalousie ou la médisance. Il vous conseille également pour arrêter le vampirisme énergétique autour de vous.
                        Nicolas vous aide à identifier les liens karmiques et les mémoires de vos vies antérieures, offrant un accompagnement très privé avec des solutions complémentaires telles que des sprays, huiles et plantes. Il utilise également des méthodologies secrètes pour vous libérer des énergies négatives.
                        La consultation de soin énergétique dure entre 1h30 et 2h, au tarif de 220.- CHF. Il est important de noter que ces services ne remplacent pas la consultation d'un professionnel de santé en cas de problème médical.
                        <br><br>
                        Interprétation Profonde : Nicolas décode les informations de votre aura avec une précision extraordinaire. Il interprète les couleurs et les formes, identifiant les blocages énergétiques, les sources de stress et les potentiels non exploités. Son analyse vous offre des perspectives précieuses sur vos forces, vos défis et votre chemin de vie.
                        Guidance et Soins Personnalisés : En fonction de l'analyse de votre aura, Nicolas propose des soins énergétiques sur mesure pour harmoniser et revitaliser votre champ énergétique. Ses techniques incluent des méditations guidées, des rituels de purification, et des conseils sur le développement personnel, visant à restaurer l'équilibre et la paix intérieure.
                        Connexion Spirituelle : La consultation ne se limite pas à l'analyse énergétique. Nicolas utilise également ses dons de clairvoyant et médium pour communiquer avec vos guides spirituels, vous apportant des messages et des conseils divins. Cette connexion profonde renforce votre compréhension de vous-même et de votre chemin de vie.
                        Un Voyage Vers la Lumière Intérieure
                        Avec Nicolas ABRY, chaque séance de soins énergétiques devient un voyage transformateur. Vous découvrirez une dimension nouvelle de votre être, éclairée par les couleurs vibrantes de votre énergie. Laissez Nicolas vous guider sur le chemin de la lumière céleste, où la guérison et l'épanouissement spirituel vous attendent.
					</div>
				</div>
            </div>
        </div>
        <Image class="h-auto w-auto self-center mx-auto hidden lg:block" src={img3} alt="Nicolas Abry" />
	</section>
</Layout>