<div class="fixed flex gap-4 z-50 bg-white bg-opacity-50 hover:bg-opacity-100 border border-black p-2 rounded-full bottom-1 right-1">
    {
        [
            {
                element: <svg viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>,
                url: 'https://instagram.com/nicolasabry'
            },
            {
                element: <svg fill="#000000" viewBox="0 0 32 32"><path d="M28.778 1.004h-25.56c-0.008-0-0.017-0-0.027-0-1.199 0-2.172 0.964-2.186 2.159v25.672c0.014 1.196 0.987 2.161 2.186 2.161 0.010 0 0.019-0 0.029-0h25.555c0.008 0 0.018 0 0.028 0 1.2 0 2.175-0.963 2.194-2.159l0-0.002v-25.67c-0.019-1.197-0.994-2.161-2.195-2.161-0.010 0-0.019 0-0.029 0h0.001zM9.9 26.562h-4.454v-14.311h4.454zM7.674 10.293c-1.425 0-2.579-1.155-2.579-2.579s1.155-2.579 2.579-2.579c1.424 0 2.579 1.154 2.579 2.578v0c0 0.001 0 0.002 0 0.004 0 1.423-1.154 2.577-2.577 2.577-0.001 0-0.002 0-0.003 0h0zM26.556 26.562h-4.441v-6.959c0-1.66-0.034-3.795-2.314-3.795-2.316 0-2.669 1.806-2.669 3.673v7.082h-4.441v-14.311h4.266v1.951h0.058c0.828-1.395 2.326-2.315 4.039-2.315 0.061 0 0.121 0.001 0.181 0.003l-0.009-0c4.5 0 5.332 2.962 5.332 6.817v7.855z"></path></svg>,
                url: 'https://www.linkedin.com/in/nicolas-abry-393001138/?originalSubdomain=ch'
            },
            {
                element: <svg fill="#000000" viewBox="2 2 20 20"><path d="M21,2H3A1,1,0,0,0,2,3V21a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2Zm-3.281,8.725h0c-.109.011-.219.016-.328.017A3.571,3.571,0,0,1,14.4,9.129v5.493a4.061,4.061,0,1,1-4.06-4.06c.085,0,.167.008.251.013v2a2.067,2.067,0,1,0-.251,4.119A2.123,2.123,0,0,0,12.5,14.649l.02-9.331h1.914A3.564,3.564,0,0,0,17.719,8.5Z"></path></svg>,
                url: 'https://www.tiktok.com/@nicolas.abry'
            },
            {
                element: <svg viewBox="2 2 44 44" fill="#000000"><path d="M35,2H13A11.1,11.1,0,0,0,2,13V35A11.1,11.1,0,0,0,13,46H35A11.1,11.1,0,0,0,46,35V13A11.1,11.1,0,0,0,35,2Zm2.2,29.2a3,3,0,0,1-.8.7l-2.6.6-.3.2a5.6,5.6,0,0,0-.1.7v.2a.6.6,0,0,1-.1.4c-.1.2-.2.3-.4.3H29.7a5,5,0,0,0-2.1,1A5.6,5.6,0,0,1,24,36.6h-.3a5.6,5.6,0,0,1-3.6-1.4,5.8,5.8,0,0,0-2.1-1H14.9a.5.5,0,0,1-.5-.3,1.4,1.4,0,0,1-.2-.6h0a1.6,1.6,0,0,0-.3-.6.2.2,0,0,0-.2-.2,9.4,9.4,0,0,1-2.6-.7,1.8,1.8,0,0,1-.8-.6h0l.3-.3a5.8,5.8,0,0,0,2.5-.9,6.4,6.4,0,0,0,1.7-1.6A6.2,6.2,0,0,0,16.2,26h0a1.4,1.4,0,0,0,.2-1.2c-.3-.7-1.1-.9-1.7-1.1h-.1l-.3-.2a1.9,1.9,0,0,1-.9-.5.7.7,0,0,1-.3-.6.7.7,0,0,1,.4-.5c.3-.2.8-.3,1-.1s1.5.5,2,.2.2-.2.2-.3-.1-.5-.1-.7h0c-.1-1.8-.2-4.1.3-5.4a8.1,8.1,0,0,1,1.7-2.3,5.2,5.2,0,0,1,1.9-1.2,6.9,6.9,0,0,1,3-.7H24a7.2,7.2,0,0,1,3,.7,6.2,6.2,0,0,1,1.9,1.2,6.3,6.3,0,0,1,1.6,2.3c.6,1.3.4,3.6.3,5.4h0v.4h0a.5.5,0,0,0,.2.4h.6l1.2-.4h.9a.8.8,0,0,1,.7.7c0,.1,0,.2-.2.5l-1,.5h-.4a2.5,2.5,0,0,0-1.7,1,1.6,1.6,0,0,0,.2,1.3h0c.3.7,2.1,4.1,5.7,4.7a.5.5,0,0,1,.2.4Z"></path></svg>,
                url: 'https://snapchat.com/t/9Y2nVYwY'
            },
            {
                element: <svg viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H15V13.9999H17.0762C17.5066 13.9999 17.8887 13.7245 18.0249 13.3161L18.4679 11.9871C18.6298 11.5014 18.2683 10.9999 17.7564 10.9999H15V8.99992C15 8.49992 15.5 7.99992 16 7.99992H18C18.5523 7.99992 19 7.5522 19 6.99992V6.31393C19 5.99091 18.7937 5.7013 18.4813 5.61887C17.1705 5.27295 16 5.27295 16 5.27295C13.5 5.27295 12 6.99992 12 8.49992V10.9999H10C9.44772 10.9999 9 11.4476 9 11.9999V12.9999C9 13.5522 9.44771 13.9999 10 13.9999H12V21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z" fill="#0F0F0F"></path></svg>,
                url: 'https://www.facebook.com/nicolas.abry.94/'
            }
        ].map(({ element, url }) => {
            return(
            <a href={url} class="cursor-pointer hover:scale-110 duration-100 size-6">
                {element}
            </a>
        )})
    }
</div>